<!DOCTYPE html>

<html>
    <head>
        <title>SpaceG</title>
        <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <header>
            <nav>
                <div id="logo">
                    SpaceG
                </div>
                
                <ol id="profil">
                    <img src="static/icons/user.svg" height="32px" width="32px">
                    <li>@{{ name }}</li>
                    <li><a href="{{ url_for('auth.logout')}}" >Log out</a></li>

                </ul>
            </nav>

        </header>
        <section class="gamesection">
            <div id="slogan">
                <div id="searchBar">
               <input type="search" value="search" class="search">
               <span>Categories </span>
               <div class="triangle-down"></div>
                </div>
            </div>

            <div class="GameGrid">

                <div class="game">
                    <img src="static/images/snaky.jpg" height="150px" width="180px">
                    <a href="{{ url_for('main.startgame') }}"><h4>Snake Fight</h4></a>
                </div>
                <div class="game">
                    <img src="static/images/mobileLegend.jpg" height="150px" width="180px">
                    <h4>Mobile Legend</h4>
                </div>
                <div class="game">
                    <img src="static/images/freefire.png" height="150px" width="180px">
                    <h4>Freefire</h4>
                </div>
                <div class="game">
                    <img src="static/images/pubg.jpg" height="150px" width="180px">
                    <h4>PUBG</h4>
                </div>
                <div class="game">
                    <img src="static/images/callofdutymoderanwarfare.jpg" height="150px" width="180px">
                    <h4>Call of Duty</h4>
                </div>
                <div class="game">
                    <img src="static/images/GTA.jpg" height="150px" width="180px">
                    <h4>GTA San andreas</h4>
                </div>

            </div>
            <div id="viewall">
                View ALL
            </div>

        </section>
        
      
        <footer>
            <div>
            <p>Term & Condition | Privacy Policy<br>
            2020 C SpaceG . All rights reserved </p>
        </div>
        </footer>
    </body>
</html>