<!DOCTYPE html>

<html>
    <head>
        <title>SpaceG</title>
        <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <header>
            <nav>
                <div id="logo">
                    SpaceG
                </div>
                
                <ol id="profil">
                    <img src="static/icons/user.svg" height="32px" width="32px">
                    <li>@{{ name }}</li>
                    <li><a href="{{ url_for('auth.logout')}}" >Log out</a></li>

                </ul>
            </nav>

        </header>
        <section class="gamePlay">
            <div class="sloganTwo">
                <p>
                   Playing : Snake Fight
                </p>
            </div>
            
            <div class="playing">
              <div id="score">0</div>
                <canvas id="snakeboard" width="700" height="350">
                   
                 
                </canvas>
               
                
            </div>


            <div class="howToPlay">
                <h1>How to play the game ?</h1>
                <p>Lorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsum
                    Lorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsum
                    Lorem ipsumLo
                    Lorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsum .</p>
            </div>
        </section>
        <section class="advantages">
            <h1>About the game</h1>
            <div id="line"></div>
            <div id="benefits">
                <p>
                    Lorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsum
                    
                </p>
            </div>
        </section>

        <section class="GameSuggest gamesection" >
            <h1>You may also like to play:</h1>
            <div>
                <div class="game">
                    <img src="static/images/snaky.jpg" height="150px" width="180px">
                    <h4>Snake Fight</h4>
                </div>
                <div class="game">
                    <img src="static/images/mobileLegend.jpg" height="150px" width="180px">
                    <h4>Mobile Legend</h4>
                </div>
                <div class="game">
                    <img src="static/images/freefire.png" height="150px" width="180px">
                    <h4>Freefire</h4>
                </div>
                <div class="game">
                    <img src="static/images/pubg.jpg" height="150px" width="180px">
                    <h4>PUBG</h4>
                </div>
                <div class="game">
                    <img src="static/images/callofdutymoderanwarfare.jpg" height="150px" width="180px">
                    <h4>Call of Duty</h4>
                </div>
                <div class="game">
                    <img src="static/images/GTA.jpg" height="150px" width="180px">
                    <h4>GTA San andreas</h4>
                </div>

            </div>
         

        </section>
        
       
        
        <footer>
            <div>
            <p>Term & Condition | Privacy Policy<br>
            2020 C SpaceG . All rights reserved </p>
        </div>
        </footer>
    </body>
    <script>
         
      
        const board_border = 'black';
        const board_background = "white";
        const snake_col = 'lightblue';
        const snake_border = 'darkblue';
        
        let snake = [
          {x: 200, y: 200},
          {x: 190, y: 200},
          {x: 180, y: 200},
          {x: 170, y: 200},
          {x: 160, y: 200}
        ]
    
        let score = 0;
    
        let changing_direction = false;
    
        let food_x;
        let food_y;
        let dx = 10;
    
        let dy = 0;
        
        
        const snakeboard = document.getElementById("snakeboard");
    
        const snakeboard_ctx = snakeboard.getContext("2d");
     
        main();
    
        gen_food();
    
        document.addEventListener("keydown", change_direction);
        
     
        function main() {
    
            if (has_game_ended()) return;
    
            changing_direction = false;
            setTimeout(function onTick() {
            clear_board();
            drawFood();
            move_snake();
            drawSnake();
            // Repeat
            main();
          }, 100)
        }
        
    
        function clear_board() {
     
          snakeboard_ctx.fillStyle = board_background;
        
          snakeboard_ctx.strokestyle = board_border;
     
          snakeboard_ctx.fillRect(0, 0, snakeboard.width, snakeboard.height);
      
          snakeboard_ctx.strokeRect(0, 0, snakeboard.width, snakeboard.height);
        }
        
    
        function drawSnake() {
    
          snake.forEach(drawSnakePart)
        }
    
        function drawFood() {
          snakeboard_ctx.fillStyle = 'lightgreen';
          snakeboard_ctx.strokestyle = 'darkgreen';
          snakeboard_ctx.fillRect(food_x, food_y, 10, 10);
          snakeboard_ctx.strokeRect(food_x, food_y, 10, 10);
        }
        
    
        function drawSnakePart(snakePart) {
    
          snakeboard_ctx.fillStyle = snake_col;
    
          snakeboard_ctx.strokestyle = snake_border;
        
          snakeboard_ctx.fillRect(snakePart.x, snakePart.y, 10, 10);
    
          snakeboard_ctx.strokeRect(snakePart.x, snakePart.y, 10, 10);
        }
    
        function has_game_ended() {
          for (let i = 4; i < snake.length; i++) {
            if (snake[i].x === snake[0].x && snake[i].y === snake[0].y) return true
          }
          const hitLeftWall = snake[0].x < 0;
          const hitRightWall = snake[0].x > snakeboard.width - 10;
          const hitToptWall = snake[0].y < 0;
          const hitBottomWall = snake[0].y > snakeboard.height - 10;
          return hitLeftWall || hitRightWall || hitToptWall || hitBottomWall
        }
    
        function random_food(min, max) {
          return Math.round((Math.random() * (max-min) + min) / 10) * 10;
        }
    
        function gen_food() {
    
          food_x = random_food(0, snakeboard.width - 10);
       
          food_y = random_food(0, snakeboard.height - 10);
        
          snake.forEach(function has_snake_eaten_food(part) {
            const has_eaten = part.x == food_x && part.y == food_y;
            if (has_eaten) gen_food();
          });
        }
    
        function change_direction(event) {
          const LEFT_KEY = 37;
          const RIGHT_KEY = 39;
          const UP_KEY = 38;
          const DOWN_KEY = 40;
          
     
        
          if (changing_direction) return;
          changing_direction = true;
          const keyPressed = event.keyCode;
          const goingUp = dy === -10;
          const goingDown = dy === 10;
          const goingRight = dx === 10;
          const goingLeft = dx === -10;
          if (keyPressed === LEFT_KEY && !goingRight) {
            dx = -10;
            dy = 0;
          }
          if (keyPressed === UP_KEY && !goingDown) {
            dx = 0;
            dy = -10;
          }
          if (keyPressed === RIGHT_KEY && !goingLeft) {
            dx = 10;
            dy = 0;
          }
          if (keyPressed === DOWN_KEY && !goingUp) {
            dx = 0;
            dy = 10;
          }
        }
    
        function move_snake() {
    
          const head = {x: snake[0].x + dx, y: snake[0].y + dy};
       
          snake.unshift(head);
          const has_eaten_food = snake[0].x === food_x && snake[0].y === food_y;
          if (has_eaten_food) {
    
            score += 10;
    
            document.getElementById('score').innerHTML = score;
    
            gen_food();
          } else {
    
            snake.pop();
          }
        }
        
    
      </script>
</html>