body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #14123E;
    font-family: 'verdana';
    color: white;
}

header{
    height:400px;
    
    background-image: url("./images/slide.jpg");
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;

  background-size: cover;
  
  background-color: #464646;
}
.header{
    height: 150px;
}
nav{
    height: 80px;
    width: 100%;
    background-color:black ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 80%;

}
a{
    text-decoration:none;
    color: white;
}
#profil{
    margin-right:5% ;
    list-style: none;
    width: 130px;
    
}
#profil img{
    float: right;
    cursor: pointer;
}
#profil li{
    float: left;
    font-size: 15px;
    cursor: pointer;
}
#profil a{
    text-align: center;
    font-size: 10px;
    display: inline-block;
    color: white;
    margin-left: 20px;
}
.gamePlay{
    background-color: #14123E;
    height: 800px;
    width: 100%;
    align-content: center;
    align-items: center;
    padding: 10px;
}
.playing{
    border: grey solid 2px;
    width: 70%;
    height: 400px;
    background-color: ivory;
    margin-left: 15%;
    margin-top: 5px;
    
}
.howToPlay{
    color: white;
    margin-left: 5%;
}
.howToPlay p{
    padding: 15px 15px;
    background-color: #4C4B6C;
    font-size:20px;
    width: 550px;
    height: 200px;
    margin-left: 9%;
}
nav ul{
    margin: 0 30px 0px;
    

}
nav ul li{
    display: inline-block;
    margin-left:15px;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    
}
.active{
    background-color: #28256B;
    border-color: #28256B;
    font-style: oblique;
    font-size: 30px;
}
#logo{
   font-size: 60px;
   margin: 10px 50px;
   padding: 0px;
   color: white;
}
section{
    height: 350px;
    
    
}

.gamesection{
    height: 500px;
    background-color: #14123E;
    color: white;
    padding-top:10px ;
    
    
}
.GameSuggest{
    height: 245px;
    
}
#slogan{
    border:solid #2C2A52 1px;
    border-radius: 50%;
    text-align: center;
    background-color: #2C2A52;
    height: 50px;
    padding-bottom:10px;
    
}
.sloganTwo {
    border:solid #2C2A52 1px;
    border-radius: 50%;
    text-align: center;
    background-color: #2C2A52;
    height: 50px;
    padding-bottom:1.5%;
   font-size:26px;
 }

#slogan p{
    font-size: 26px;
    display: inline;

}
#searchBar{
    margin-top:15px;
      
}
#searchBar span{
    text-decoration: underline;
    cursor: pointer;
}
.search{
    border-radius: 10px;
    border-style: none;
    width: 300px;
    padding: 5px;
    font-style: italic;
    font-size:20px;
    color: grey;
    
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-top: 10px solid white;
    display: inline-block;
    cursor: pointer;
}
.GameGrid{
  
   width: 800px;
   margin-left: 20%;
   margin-top:20px;
   
   
}
.game{
    height: 180px;
    width: 180px;
    align-content: center;
    
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;

}
.game h4{
    display: inline;
    align-content: center;
    font-size:15px;
    cursor: pointer;
}

.game img{
   
    transform: skew(-10deg);
}
#viewall{
    float: right;
    padding:10px;
    margin-right: 35px;
    border:white 2px solid;
    transform: skew(-10deg);
    cursor: pointer;
}

.advantages{
    background-color: #28256B;
    color: white;
    height: 250px;
    

}
.advantages h1{
    display: block;
    font-size:40px;
    padding:20px;
    margin:0px;
    margin-left:10%;
    
}

#line{
    border: solid 3px white ;
    border-radius: 45%;
    height: 120px;
    width: 0.1px;
    margin-left: 20%;
 
    float: left;
}
#benefits{  
    
    display: inline-block;
    width: 500px;
    padding-left:15px;
    margin-top:10px;
     
}

.advantages p{
  
    font-size:20px; 
    display: inline;
   
}



.whyus{
    background-color: #14123E;
    color:white;
    height: 500px;
    padding-top:50px ;
}
.whyus h1{
    margin: 0 10% 0;
    font-size:50px;
}

#weprovide{
    display: inline-block;
    font-size: 20px;
    padding: 20px 40px 20px;
   text-align: center;
    width: 90%;
    align-items: center;
    /*border:solid 2px black;*/
   
}

#threeBenefits{
    /*border:solid 2px black;*/
    width: 100%;
   
    float: left;
    margin-left:15%;
    
}
.benef{
   
    width: 80%;
    height: 80px;
    padding: 10px;

}
.benef img{
    
    
    float: left;
}
.benef h4{
    
   
    padding:5px;
    margin:0px;
    float: left;
    width: 80%;
}
.benef p{
    display: inline-flex;
 
    padding: 2px;
    margin:0 ;
    
    
}
.contactus{
    background-color:#38375C;
    color:white
    
}

.contactus h1{
    margin: 0 10% 0;
    padding: 10px;
    font-size: 40px;;
}
form{
    width: 400px;
 
    margin-left:15%;
    
}
.contactus input{
    
    
    margin-top:10px;
    font-family: 'verdana';
    font-style: italic;
    border-radius: 10px;
    border-style: none;
    display: block;
}
.inputus{
    width: 300px;
    margin-top:10px;
}
#message{
    display: block;
    margin-top:10px;
    height: 100px;
    text-align: start;
}
.button{
    float: right;
    width: 60px;
    padding:6px;
    background-color: yellowgreen;
    display: block;
    color: white;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    
    
}

footer{
    height: 150px;
    background-color: black;
    color: white;
}
footer div{
    text-align: center;
    padding-top:60px;
}
.logIn{
        
    align-items: center;
    width: 380px;
    height: 300px;
    padding: 30px;
    margin: 5% 0px 0px 30% ;
    
}
.logIn div{
    background-color: #3A385D;
   
   border-radius: 15px;
   height: 300px;
 
}
.logIn h1{
    margin: 0 10%;
    font-size:40px;
    color: #86859B;
}
.logIn h1 span{
    font-size:50px;
    color: white;
}
.logInButton{
    display: block;
    margin: 5px 60% 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    background-color: #64BB64;
    color: white;
    font-style: italic;
}
.logIn P{
    font-size:10px;
}

.logInInputs{
    
    margin-top:20px;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    
    
}
.signUp{
    height: 400px;
}
.signUp div{
    height: 310px;
}
.signUp div p{
    display: inline;
    margin: 0;
    font-size:7px;
    
}

#agreeTerms{
    display: inline;
    border-style: none;
    border-radius: 40px;
   color: black;
   
}
#TermsCheck{
    display: block;
    margin-top:10px ;
  
    height: 25px;
    width: 250px;
    padding: 0;
    align-items: center;
}


footer div p{
    display: inline-block;
    
}

#snakeboard{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}